body {
  display: flex;
  justify-content: center;
  margin-top: 10%;
}
input {
  width: 30vw;
  height: 3vh;
}
input:invalid {
  animation: shake 300ms;
}

@keyframes shake {
  25% {
    transform: translateX(4px);
  }
  50% {
    transform: translateX(-4px);
  }
  75% {
    transform: translateX(4px);
  }
}
